#legend-custom-wrapper {
    position: relative;
    height: 100%;
    width: 180px;
    z-index: 0;
    align-content: flex-end;
}

#legend-custom-wrapper .esri-legend__symbol {
    opacity: 1 !important;
}

#legend-custom-wrapper .esri-legend__layer-caption {
    display: none !important;
}

#legend-custom-wrapper .esri-legend__layer-cell {
    padding: 0 0 0 4px !important;
}

#legend-custom-wrapper .esri-legend__layer {
    margin-left: 0 !important;
}

#legend-custom-wrapper .esri-legend__layer-table {
    margin-bottom: 0 !important;
}

@media (max-width: 576px) {
    #legend-custom-wrapper {
        scale: 0.6;
        position: relative;
        width: 170px;
        z-index: 0;
        bottom: 10;
        margin-bottom: -120px;
        margin-left: -30px;
    }
}

